<!Doctype html>
<html> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
<body>
<div ng-app="firstapp" ng-controller="myctrl"> 
FirstName:<br>
<input type="text" ng-model="fname"><br>
LastName:<br>
<input type="text" ng-model="lname"><br>
    Fullname:{{fullname()}}
</div> 
<script>
var app=angular.module('firstapp',[]);
app.controller('myctrl',function($scope)
{
$scope.fname=" ";
$scope.lname=" ";
$scope.fullname=function()
{
return $scope.fname+ " " +$scope.lname;
};
});
</script>
</body>
</html>
